body {
    background-image: linear-gradient(to right, #025f00, #ff9800);
    margin-top: 150px !important;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
}
.register-left {
    font-size: 20px;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    padding: 30px;
}
.register-left p {
    padding: 20px 20px 0;
}
.btn-left {
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: rgb(52, 178, 71);
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    padding: 10px;
}
.btn-left:hover{
    background: green;
}
a {
    text-decoration: none;
    color: white;
}
.register-right {
    float: right;
    margin-right: 400px;
    width: 400px;
    border: none;
    background: #f8f8f8;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 50px;
}
.register-right h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}
.form-group {
    padding: 8px;
}
.btn-right {
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #ff9800;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px; 
}
.btn-right:hover{
    background: #ff5722;
}
.form-control {
    height: 25px;
    border: 1px solid grey;
    border-radius: 3px;
    margin-left: 5px;
}